@import 'variable.styl'

body,html
  left: 1px
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetical-Light', arial, sans-serif,'Droid Sans Fallback'
  user-select:none
  -webkit-tap-hihtlight-color:transparent
  background:$color-theme-background
  color:$color-text
  height: 100%
